body {
  font-family: 'Fredoka One', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Fredoka One', sans-serif;
}


.dark-theme {
  background: linear-gradient(
    to bottom,
    hsla(300, 84%, 39%, 1),
    hsla(49, 100%, 56%, 1)

  );
  color: white;
}

.light-theme {
  background: linear-gradient(
    to bottom,
    hsla(49, 100%, 56%, 1),
    hsla(300, 84%, 39%, 1)
  );
  color: black;
}

.App {
  transition: background-color 0.3s, color 0.3s;
}

.container {
  margin-top: 20px;
}
