
body {
  font-family: 'Fredoka One', sans-serif;
  
}



.dark-theme {
  background: linear-gradient(
    to bottom,
    hsla(300, 84%, 39%, 1),
    hsla(49, 100%, 56%, 1)
  );
  color: white;
}

.light-theme {
  background: linear-gradient(
    to bottom,
    hsla(49, 100%, 56%, 1),
    hsla(300, 84%, 39%, 1)
  );
  color: black;
}

.App {
  transition: background-color 0.3s, color 0.3s;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start; /* Align items at the start vertically */
  justify-content: center; /* Center items horizontally */
}

.main-content > div {
  flex: 1;
}

/* For large screens */
@media (min-width: 992px) {
  .main-content {
    flex-direction: row;
  }

  .main-content > div {
    max-width: calc(75% - 20px); /* 75% for Menu, 25% for OrderSummary */
  }

  .main-content > div:last-child {
    max-width: 25%;
    background-color: transparent; /* Make OrderSummary background transparent */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: add a subtle border */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better readability */
  }
}

/* For smaller screens */
@media (max-width: 991px) {
  .main-content {
    flex-direction: column;
  }

  .main-content > div {
    max-width: 100%;
  }
}

.container {
  margin-top: 20px;
}
/* For large screens */
@media (min-width: 1500px) {
  .main-content {
    flex-direction: row;
  }

  .main-content > div {
    max-width: calc(75% - 20px); /* 75% for Menu, 25% for OrderSummary */
  }

  .main-content > div:last-child {
    max-width: 25%;
    background-color: transparent; /* Make OrderSummary background transparent */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: add a subtle border */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better readability */
  }
}
/* For screens smaller than 1500px */
@media (max-width: 1499px) {
  .main-content {
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
  }

  .main-content > div:last-child {
    order: -1; /* Move OrderSummary to the top */
    margin-right: 0;
    margin-left: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    max-width: 90%; /* Limit width to 90% to prevent it from being too wide */
  }

  .main-content > div:first-child {
    order: 1; /* Menu comes after the OrderSummary */
    width: 100%; /* Make sure the menu takes the full width available */
  }
}